include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //main
    main.index
      include ../pages/index/1-screen
    include ../components/global/footer
    include ../components/modals/pages
    include ../components/global/scripts