include ../mixins/mixins
doctype html
html(lang="ru")
  include ../global/head
  body
    include ../global/header
    //main
    main.ui
      include ../pages/ui/ui
    include ../modals/modals
    include ../global/scripts