include ../mixins/mixins
doctype html
html(lang="ru")
  include ../components/global/head
  body
    include ../components/global/header
    //main
    main.ui
      include ../pages/ui/ui
    include ../components/modals/pages
    include ../components/global/scripts
